apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: backend-pdb
  namespace: chat-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: backend
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: socket-service-pdb
  namespace: chat-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: socket-service

