apiVersion: v1
kind: Service
metadata:
  name: socket-service
  namespace: chat-app
spec:
  type: ClusterIP
  selector:
    app: socket-service
  ports:
  - name: http
    port: 5004
    targetPort: 5004
    protocol: TCP

